*,::before, ::after{
  box-sizing:border-box;
  padding:0;
  margin:0;
}


::root{
  --inter: "" ,
}

.container {
  border:1px solid black;
  margin:0 auto;
  width:80%;
}

#profile__img{
  background-image:url("../public/assets/profile__img.png");
  background-repeat:non-repeat;
  background-position:center center;
  width:88px;
  height:88px;
  border-radius:100%;
}

#avatar p {
  padding:24px 0 56px 0;
  font-weight: 700;
  font-size: 20px;
  font-family :var(--inter);
}

.inner_container{
  padding:64px 0 48px 0;
  
}

#avatar{
  border:1px solid black;
  width:50%;
  margin:0 auto;
  display:flex;
  flex-direction:column;
  align-items:center;
  position:relative;
}