*,::before, ::after{
  box-sizing:border-box;
  padding:0;
  margin:0;
}

:root{
  --gray: #101828;
  --lightgrey: #667085;
}

.container {
  margin:0 auto;
  width:80%;
}

#profile__img{
  background-image:url("./components/assets/profile__img.png");
  background-repeat:no-repeat;
  background-position:center center;
  width:88px;
  height:88px;
  border-radius:100%;
}

.footer_logo_1{
  width:185px;
  height:24px;
}

.header_main{
  padding:0 32px;
}

.footer_line{
  border-bottom:1px solid #EAECF0;
  padding-top:48px;

}


#avatar p {
  padding:24px 0 56px 0;
  font-weight: 700;
  font-size: 20px;
  font-family :Inter;
  color:var(--gray);
}

.icon_container{
  width:24px;
  height:24px;
}

.footer_logo_1_container{
  display:flex;
  align-items:flex-end;
}

.footer__logo_1{
  width:185px;
  height:24px;
}

.footer__logo_2{
  width:132px;
  height:32px;
}

.footer{
  display:flex;
  padding-top:48px;
  justify-content:space-between;
}

.footer_para{
  font-weight: 400;
  font-size: 16px;
  color: var(--lightgrey);
  line-height:34px;
  font-family:Inter;
}

.icon_container img{
  display:block;
  width:100%;
}

.inner_container{
  padding:64px 0 48px 0;
}

#avatar{
  width:65%;
  margin:0 auto;
  display:flex;
  flex-direction:column;
  align-items:center;
  position:relative;
}

#avatar::after{
    content:"";
    position:absolute;
    right:0;
    top:-18px;
    background-image:url("./components/assets/sharebtndesktop.png");
    background-repeat:no-repeat;
    background-position:center center;
    width:40px;
    height:40px;
    background-size:contain;
}

.links_ar_container{
  display:grid;
  grid-row-gap:24px;
}

.links_ar_container a{
  text-align:center;
  display:inline-block;
  text-decoration:none;
  padding:24px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color:var(--gray);
  background-color: #EAECF0;
  border: 1px solid #EAECF0;
  border-radius: 8px;
}

#contact_container{
  padding:106px calc(50% - 360px);
}

.form_control_1, .form_control_2, .form_control_3{
  display:flex;
  gap:24px;
  margin-bottom:24px;
}

.form_control_1 > div, 
.form_control_2 > div,
.form_control_3 > div{
  flex-grow:1;
}

#contact_outer_container > footer{
  padding-bottom:52px;
}

#contact_container form{
  margin-top:48px;
}

#first_name, #last_name, #email, #message{
  display:block;
  padding:10px 14px;
  outline:none;
  width:100%;
  border:none;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border: 1px solid #D0D5DD;
  border-radius: 8px;
  height:44px;
}

#message{
  height:132px;
}

label{
  font-weight: 500;
  font-size: 14px;
  font-family :Inter;
  margin-bottom:8px;
  display:inline-block;
}

input::placeholder,
textarea::placeholder{
  color: #667085;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  font-family :Inter;
}

.contact_header h3{
  color: #101828;
  font-weight: 600;
  font-size: 36px;
  font-family :Inter;
}

.contact_header p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #475467;
  margin-top:20px;
}

.agreement{
  display:flex;
  align-items:center;
  margin-bottom:32px;
}

.agreement span{
  color: #475467;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-left:12px;
}

input[type="checkbox"]{
  width: 20px;
  height: 20px;
  display: grid;
  place-content: center;
  border: 1px solid #D0D5DD;
  border-radius: 6px;
  -webkit-appearance:none;
  appearance:none;
}

input[type="checkbox"]::before{
  content:"";
  width:14px;
  height:14px;
  transform:scale(0);
  transition:120ms transform ease-in-out;transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  box-shadow: inset 1em 1em var(--lightgrey);
  border-radius: 6px;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

#btn__submit{
  padding:12px 0;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  border:none;
  outline:none;
  background-color: #1570EF;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  display:block;
  width:100%;
  height:48px;
}

@media screen and (max-width:540px){

    #avatar{
      width:100%;
    }

    .container{
      width:90%;
    }

    .header_main{
      padding:0;
    }  

    #avatar::after{
      background-image:url("./components/assets/sharebtnmobile.png");
  }

  .footer{
    flex-direction:column;
    gap:16px;
  }

  .footer_logo_1{
    width:140px;
    height:24px;
  }

  .footer_para, .links_ar_container a{
    font-size:14px;
  }

  .footer__logo_2{
    width:99px;
    height:24px;
  }

  #avatar p{
    font-size:18px;
  }

  #contact_container{
    padding:64px 0;
  }

  .contact_header p{
    font-size:18px;
  }

  .form_control_1,
  .form_control_2, 
  .form_control_3{
    flex-direction:column;
    gap:24px;
  }

  .agreement{
    align-items:flex-start;
  }



}